@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin:0 auto;
  max-width: 55rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}

.container-main {
  min-height: 33rem;
}

.container-navbar {
  padding: 0;
  height: 44px;
}

